<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
    <title>Error</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card mt-5">
                    <div class="card-header">
                        <h4>Error</h4>
                    </div>
                    <div class="card-body">
                        <p>An error occurred. Please try again later.</p>
                        <p th:text="${errorMessage}"></p>
                        <a class="btn btn-primary" href="/home">Go to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
